/*RESET*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,800,400);
@import url('http://fonts.googleapis.com/css?family=Anton');


*{
    margin: 0;
    padding: 0;

    font-family: "Trebuchet MS";
}



#todo{
    width: 100%; 
    height: auto;
    display: table;
    background-color: #efefef;
}


#conteudo{
    min-width: 761px;
    margin: 0 auto;
    max-width: 1200px;

}



#topo{
    width: 100%;
    height: 135px;
    background-color: #efefef;
}

#topo-cima{
    width: 100%;
    height: 91px;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
}


#topo-cima-conteudo{
    max-width: 1200px;
    min-width: 961px;
    height: 100%;
    margin: 0 auto;
}

#menu{
    height: 100%;
    float: right;
}

#menu ul{
    list-style: none;
}

.liMenu{
    transition: .2s all;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    padding-top: 38px;
    height: 57px;
}

.liMenu:hover{
    background-color: #efefef;
}

.liMenu a:hover{
    color: #1c909e;
}

.liMenu a{
    text-decoration: none;
    font-size: 1rem;
    color: #696969;
}


.icon-search{
    width: 2.41%;
    cursor: pointer;
    float: right;
    margin-top: 37px;
    margin-left: 36px;
}



#topo-baixo{
    width: 100%;
    height: 43px;

}

#topo-baixo-conteudo{
    max-width: 1200px;
    min-width: 961px;
    height: 100%;
    margin: 0 auto;
}


.sociais{
    width: 29px;
    height: 29px;
    border-radius: 100%;
    background-color: #000;
    border-style: none;

}


#redes-sociais{
    width: auto;
    height: auto;
    margin-top: 7px;
    float: right;
    margin-right: 28px;
}

#botoes-topo-baixo{
    width: 225px;
    height: 100%;
    float: right;
}

#btnEntrar{
    width: 76px;
    height: 30px;
    background-color: #176f78;
    display: inline-block;
    color: #80c0c7;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    padding-top: 13px;
}

#btnResenha{
    width: 149px;
    height: 30px;
    background-color: #0d909e;
    display: inline-block;
    float: right;
    font-size: 14px;

    padding-top: 13px;
    color: #95dae1;
    text-align: center;
    text-decoration: none;
}

#box-logo{
    width: 26.33%;
    height: 142px;
    margin-top: 16px;
    float: left;
}

#box-logo img{
    width: 100%;
}



//slider


#slider{

}


.form-cadastro-home{
    width: 25%;
    height: 481px;
    background-color: #fff;
    float: right;
    padding-left: 15px;
    border: 1px solid #dadada;
}

#topo-home{
    width: 100%;
    display: table;
    margin-top: 50px;
    height: 483px;
}

#box-form-cadastro{
    width: 90%;
    height: auto;
    margin-top: 32px;

}

.titulo-cadastro-home{
    font-size: 18px;
    font-weight: normal;
    color: #252943;
}

.linha-cadastro-home{
    margin-top: 15px;
    border: none;
    height: 1px;
    background-color: #f2f2f2;
}

//editando o formulario e cadastro da home, com padrões

.lblPadrao{
    display: block;
    width: 100%;
    color: #656565;

}

.fonte{
    font-size: 12px;
    color: #9c9c9c;
}

.frm-padrao{
    height: 31px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #b5b5b5;
    outline: none;
    padding-left: 10px;
    margin-top: 2px;
    color: #656565;
}


.input-cadastro{width: 100%;}

.input-conf-senha{width: 70%; float: left; z-index: 1; margin-top: 1px;}
.frmCadastro{
    margin-top: 18px;
}
.btnEnviar{
    width: 30%;
    height: 33px;
    float: right;
    z-index: 10;
    margin-top: 1px;
    margin-left: -20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    background-color: #dadada;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    color: #656565;
    transition: .2s all;
}

.btnEnviar:hover{
    background-color: #86d56d;
    color: #fff;
}


.btnFaceBook{
    background-color: #082e63;
    margin-top: 21px;

    display: inline-block;
    width: 105%;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    color: #f1f1f1;
    padding-top: 14px;
    text-decoration: none;
}




.frmPesquisa{
    float: right;
    height: 90px;
    background-color: #fff;
}

.frmPesquisa input[type=text]{
    width: 749px;
    height: 35px;
    float: left;
    margin-top: 28px;
    border-radius: 20px;
    margin-right: -35px;
    border: 1px solid #ccc;
    outline: none;
    padding-left: 10px;
}

.frmPesquisa input[type=image]{
    margin-left: -10px;
    margin-top: 35px;

    float: left;
}

#frmPesquisa{
    width: 100%;
    height: 50px;
    top: 0;
    position: absolute;
    display: none;
}

#frmPesquisa-conteudo{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

#boxLogin{
    width: 225px;
    height: auto;
    background-color: #fff;

    float: right;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.login{
    width: 100%;
    height: 600px;
    display: none;
    position: absolute;
}

#login{
    max-width: 1200px;
    margin: 0 auto;
    height: 150px;
}

.slide{
    width: 72%;
    height: 481px;
    background-color: #000;
}

#imagem{
    width: 100%;
    height: 471px;
    background-image: url('../imagens/imgBanner.png');
    background-size: cover;
}

.conteudo-home{
    width: 100%;
    height: 400px;
    margin-top: 20px;
}

#titulo-home{
    width: 100%;
    height: 31px;
}

.titulo-home{
    width: 136px;
    height: 26px;
    background-color: #432472;
    font-size: 1rem;
    font-weight: normal;
    color: #fff;
    text-align: center;
    padding-top: 5px;

}

.linha-titulo-home{
    float: left;
    width: 90%;
    float: right;
    margin-top: 15px;
    z-index: 2;
    border: none;
    height: 1px;
    background-color: #432472;
}

.bolinha{
    width: 25px;
    height: 25px;
    background-color: #432472;
    float: right;
    border-radius: 15px;
    margin-top: -28px;
}

.erros{
    color:red;
    font-size: 0.7rem;
}


#containerCadastro{
    margin-top: 50px;
}

.boxForm{
    width: 32%;
    height: auto;
    background-color: #fff;
    float: left;
    border: 1px solid #b3b3b3;
    border-bottom: none;
    margin-left: 1.65%;

}

.bottom{
    width: 100%;
    height: 10px;
    background: #ccc;
    position: relative;
    bottom: 0;
}

.bottomBox1{
    width: 0%;
    max-width: 100%;
    height: 100%;
    background-color: #0d909e;
    transition: .4s all;
}

.bottomBox2{
    width: 0%;
    max-width: 100%;
    height: 100%;
    background-color: #0d909e;
    transition: .4s all;
}

.conteudoBox{
    width: 100%;

    min-height: 356px;
}

.contFormBox{
    padding: 10px;
}


.cancelaLeft{margin-left: 0;}

//.right{float: right;}

.input-cadastro-completo{
    width: 95%;
}

#carregaImagem{
    width: 80px;
    border-radius: 40px;
    margin-top: 15px;
    height: 80px;
    background-color: #ccc;
    cursor: pointer;
    float: left;
}

#msgTermos{
    width: 70%;
    text-align: center;
    height: auto;
    padding: 5px;
    float: left;
    margin-top: 20px;
    margin-left: 15px;
}

.btnCadastrar{
    float: right;
    margin-right: -10px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #0d909e;
    color: #fff;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    outline: none;
}




#carFundo{width: 100%; height: 100%; background-color: black; position: fixed; z-index: 110; opacity: .4}

.loadImg{margin: 0 auto; display: block; float: none;}

.load{text-align: center; margin: auto; margin-top: 20%; float: none;}

.carregando{width: 100%; height: 100%;display: none; position: fixed; z-index: 111;}

.msg{width: 300px; height: 200px; position: fixed; z-index: 112; float: none; left: 50%; margin-left: -150px; color: #fff;}

.erro{width: 100%; height: 100%; background-color: red;}

.accept{width: 100%; height: 100%; background-color: green; }

.frmLogin{
    padding: 15px;
}

.inputLogin{
    width: 95%;
}


//resenha-agora

#container-resenha{
    
    margin-top: 50px;
    background-color: red;
}

.box-resenha{
    width: 100%;
    height: 200px;
    margin-top: 50px;
}


.titulo-bolinha{
        width: 100%;
    height: 31px;
}

.linha-titulo{
        float: left;
    width: 88%;
    float: right;
    margin-top: 15px;
    z-index: 2;
    border: none;
    height: 1px;
}

.linhaResenha{
    background-color: #d9dada;
}

.titulo-bolinha-txt{
    padding: 10px;
    padding-left: 10px;
    background-color: #d9dada;
}

.txt-titulo-resenha{
    width: 125px;
    color: #252943;
}

.bolinha-resenha{
    width: 10px;
    height: 10px;
    margin-top: -24px;
    background-color: #d9dada;
}

.resenha-esquerdo{
    width: 67.5%;
    height: auto;
    background-color: white;
    border: 1px solid #c2c2c2;
    float: left;
    margin-top: 20px;
}

.resenha-direito{
    width: 31.16%;
    height: 100px;
    background-color: blue;
    float: right;
    margin-top: 20px;
}

#carregamento-resenha{
    width: 100%;
    height: 140px;
}

.titulo-formulario{
    width: 96%;
    margin: 0 auto;
    height: 27px;
    border-bottom: 1px solid #cccccc;
    font-size: 1.321rem;
    color: #252943;
}

.info-gerais{
    width: 96%;
    height: auto;
    margin: 10px auto;
}

.input-resenha{
    width: 98.5%;
}

.notas{
    width: 96%;
    height: 50px;
    margin: 10px auto;
}
.desce-titulo{
    margin-top: 15px;
}

.input-grande{
    padding-top: 10px;
    height: 260px;
}

.defeitos{
    width: 100%;
    margin-top: 25px;
    height: 410px;
    background-color: white;
        border: 1px solid #c2c2c2;
}

.semMargem{margin-top: 0;}


.titulo-positivo-negativo{
    font-size: 1.18rem;
    font-weight: normal;
    padding:7px;
    background-color: #0d909e;
    width: 37%;
    color: #e5e9ea;
}

.titulo-negativo{
    width: 39%;
    background-color: #e73941;
}





.input-defQual{
    width: 91.5%;
    float: left;
    height: 30px;
    border-radius: 0;
    z-index: 2;
    float: right;
    padding-left: 25px;
}

.box-input-defQual{
    width: 96%;
    display: table;
    margin: 10px auto;
    
}

.icone{
    float: left;
    position: absolute;
    margin-left: 8px;
    margin-top: 6px;
    color: #0d909e;
    font-size: 1.2rem;
    
}

.redicone{
    color: #e73941;
}


.btResenha{
    margin-top: -30px;
    margin-right: -2px;
}


.btAdicionar{
    width: 60%;
    margin-left: 2%;
    cursor: pointer;
    border: none;
    padding: 10px;
}


.msgQualidades{
    margin-left: 10px;
}

.msgDefeitos{
    margin-left: 10px;
}


.btnAddImage{
    width: 15%;
    height: 121.5px;
    border: none;
    outline: none;
    margin: 10px;
    cursor: pointer;
    display: block;
    float: left;
}

.box-image{
    width: 15%;
    height: 121px;
    background-color: #ccc;
    float: left;
    margin: 10px;
}



#resultadoBusca{
    position: absolute;
    width: 53%;
    height: auto;
    background-color: #f4f4f4;
    min-width: 620px;
    max-width: 765px;
    margin-left: 5px;
    margin-top: -20px;
}

.j_busca{
    width: 98.5%;
    height: 25px;
    padding-top: 5px;
    padding-left: 10px;
    color: #696969;
    display: block;
    margin-top: 0;
    cursor: pointer;
    margin-bottom: 0;
}

.j_busca:hover{
    background-color: white;
}

#carregaBusca{
    list-style: none;
    display: none;
    border-top: none;
    border: 1px solid #b3b3b3;
}

.adicionaisProduto{
    display: none;
}


#preview-perfil{
    width: 105%;
    height: 100%;
    margin-left: -15px;
}

.cabecalho-preview-perfil{
    width: 100%;
    height: 144px;
    background-color: #fff;
    
}

.img-preview-perfil{
    width: 40%;
    height: 90%;
    border-radius: 100px;
    margin: 05px;
    margin-left: 15px;
    float: left;
    background-color: yellow;
    background-size: cover;
}

.cabecalho-preview-perfil hr{
    width: 80%;
    margin: 0 auto;
    border: none;
    height: 2px;
    margin-top: 5px;
    background-color: #f2f2f2;
}

.pad-preview{
    width: 40%;
    height: auto;
    margin-left: 8px;
    float: left;
    display: block;
    color: #989696;
}

.nome-usuario-preview{
    margin-top: 12%;
    
}

.emailUsuarioPreview{
    font-size: 0.75rem;
}
.cidade-preview{
    font-size: 0.72rem;
}

.btnEditPerfil{
    float: right;
    height: 30px;
    margin-right: 10px;
    width: 28%;
    font-size: 0.75rem;
    padding: 5px;
    margin-top: 15px;
    border: none;
    background-color: #0d909e;
    outline: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

#corpo-preview-perfil{
    width: 100%;
    height: auto;
}

.titulo-preview{
    width: 133px;
    height: 30px;
    padding-top: 10px;
    text-align: center;
    font-size: 0.9rem;
    background-color: #176f78;
    color: #ebebeb;
}

.box-resenha-preview{
    width: 234px;
    height: 60px;
    margin: 0 auto;
    margin-top: 12px;
}

.imagem-resenha-box{
    width: 23%;
    border-radius: 100px;
    float: left;
    margin: 3px;
    background-size: cover;
    background-position: center;
    height: 90%;
    background-color: yellow;
}
.titulo-resenha-box{
    margin-top: 12px;
    float: left;
    border-bottom: 1px solid #ccc;
    padding-right: 20px;
    font-size: 0.850rem;
    margin-left: 10px;
    text-transform: uppercase;
    color: #908c91;
    font-weight: 600;
    padding-bottom: 4px;
}


.avaliacao-resenha{
    float: right;
    margin-top: 10px;
    
}

.box-ranking-resenha{
    width: 24.083%;
    height: auto;
    background-color: #fff;
    margin-top: 25px;
    float: left;
}

.titulo-box-ranking{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: normal;
    padding-top: 12px;
    color: #908c91;
}

.titulo-top-ranking{
    width: 25%;
    height: 20px;
    background-color: #ccc;
    text-align: right;
    font-size: 0.8rem;
    padding-top: 5px;
    text-transform: uppercase;
    margin-top: 10px;
    color: #fff;
    background-color: #244a72;
    padding-right: 15px;
}

.ulRanking{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.liRanking img{
    
    float: right;
}

.liRanking{
    list-style:none;
    list-style-image:url(bolinha.png);
    font-size: 1rem;
    margin-top: 10px;
    color: #7e7e7e;
}

.linkVejaMais{
    color: #c7c0c0;
    float: right;
    font-size: 0.8rem;
    text-decoration: none;
    margin-right: 5px;
    margin-top: 20px;
    padding-bottom: 5px;
}

.azulClaro{
    background-color: #389ebc;
}

.liMarcas{
    list-style:none;
    list-style-image:url(bolinha2.png);
}

.box-resenha-top{
    height: 261px;
    margin-left: 1%;
    margin-right: 1%;
}

.sem-margem{
    margin-left: 0;
    margin-right: 0;
}

.resenha{
    width: 48%;
    height: 100%;
    background-color: red;
    float: left;
    background-size: cover;
    background-position: center;
    transition: 1s all;
}

.right{
    float: right;
}

.margem-resenha{
    margin-left: 1%;
}

.topo-box{
    width: 100%;
    height: 160px;
}

.rdp-box{
    width: 100%;
    height: 101px;
    background-color: red;
    display: none;
}

.titulo-resenha-txt{
    font-size: 1rem;
    padding-left: 4px;
}

.resumo-resenha-txt{
    padding: 4px;
    font-size: 0.75rem;
}

.maisVistas{
    width: 100%;
    height:  auto;
    display: table;
    float: left;
    margin-top: 30px;
}

.resenhasMaisVistas{
    margin-left: -1.5%;
    height: auto;
    background-color: red;
    margin-top: 40px;
}

.box-resenha-vistas{
    width: 24%;
    height: 289px;
    background-color: black;
    float: left;
    margin-left: 1%;
    background-size: cover;
    background-position: center;
    margin-top: 15px;
}

.topo-box-maisvista{
    width: 100%;
    height: 170px;
}

.rdp-box-masivista{
    width: 100%;
    height: 120px;
    display: none;
    background-color: red;
}
/*
.resenha:hover{
    -webkit-animation: mymove 1s ease-in-out;
    -moz-animation: mymove 1s ease-in-out;
    animation: mymove 1s ease-in-out;
}



@-webkit-keyframes mymove{
    0%{}
    /*10%{background-size: 292%;}
    20%{background-size: 294%;}
    30%{background-size: 296%;}
    40%{background-size: 298%;}
    50%{background-size: 300%;}
    60%{background-size: 302%;}
    70%{background-size: 304%;}
    80%{background-size: 306%;}
    90%{background-size: 308%;}
    100%{background-position-x:40%;}
}
*/